/* 
* Style used in the 'Game' page
*/
.ball {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #eb5e28;
}

.left_line {
  position: absolute;
  left: 20%;
  width: 5px;
  height: 100%;
  background-color: #000000;
}

.right_line {
  position: absolute;
  left: 80%;
  width: 5px;
  height: 100%;
  background-color: #000000;
}

.container {
  padding: 0 2rem;
}

/* 
	Background for the leaderboard
*/
.leaderboard_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00213d;
  z-index: -1;
  /* overflow: hidden; */
}

.leaderboard_title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Khand";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 64px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.leaderboard {
  position: relative;
  top: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.leaderboard_firstuser {
  background-color: #186e8a;
  border-radius: 45px;
  width: 45%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 1;
  margin: 1.2rem;
  box-shadow: -1px 6px 0px #fca311;
  border-radius: 45px;
}

.leaderboard_firstuser:hover {
  box-shadow: -1px 6px 0px #c4c4c4;
  border-radius: 45px;
  cursor: pointer;
}

.leaderboard_user {
  background-color: #186e8a;
  border-radius: 45px;
  width: 45%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 1;
  margin: 1.2rem;
}

.leaderboard_user:hover {
  box-shadow: -1px 6px 0px #c4c4c4;
  border-radius: 45px;
  cursor: pointer;
}

.leaderboard_user_name {
  font-size: 2rem;
  font-weight: bold;
}

.leaderboard_user_score {
  position: absolute;
  left: 65%;

  font-family: "Khand";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.leaderboard_user_rank {
  position: absolute;
  left: 32%;

  font-family: "Khand";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 64px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.leaderboard_user_status_online {
  margin-left: 1%;
}

.leaderboard_user_status_offline {
  margin-left: 1%;
  display: none;
}

/* 
	Background that will take the left side of the screen
*/
.mainLayout_left_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #00213d;
  z-index: -1;
}

/* 
	Background that will take the right side of the screen
*/
.mainLayout_right_background {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: #1985a1;
  z-index: -1;
}

/* Set the background-color of the main page */

/* To write a Giant play in the center of the screen */
.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "Tourney";
  font-style: normal;
  font-weight: 400;
  font-size: 200px;
  line-height: 220px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* Light grey 90% */

  color: rgba(232, 236, 237, 0.9);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.play:hover {
  color: #4cb8d0;
  cursor: pointer;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

/*
	About the dock containing every icons,
	the icons are align horizontaly,
	The dock should always be positionned at the bottom.
*/
.dock {
  /* Light grey 90% */

  background: rgba(232, 236, 237, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  /* The dock should always be positionned at the bottom. */
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100px;
}

/*
	About the icons component in the doc,
	Icons are align horizontaly,
	Icons are scaled to be bigger.
	The margin create some space between the icons.
*/
.icons {
  transform: scale(1.8);
  margin: 1.7rem;
}

/*
* Style about the social page and the inner components
*/

.notification_chip {
  position: absolute;
  left: 96.14%;
  bottom: 72.66%;

  width: 17px;
  height: 17px;

  border-radius: 50%;

  background: #fc605c;

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* White */

  color: #ffffff;
}

.social_title {
  position: absolute;
  width: 120px;
  height: 70px;
  left: 8%;
  top: 5%;

  /* Header 1 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;
}

.social_menu {
  position: absolute;
  height: 41px;
  left: 8%;
  top: 14%;

  display: flex;
  flex-direction: row;
}

.social_menu_button {
  margin: 0 1rem;
  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  /* Dark grey */

  color: #c4c4c4;

  cursor: pointer;
}

.social_menu_button_selected {
  margin: 0 1rem;
  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  text-decoration: underline;

  /* Dark grey */

  color: #ffffff;
}

.social_empty_page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;
}

/* This div will have every friend cards
and should display them in columns of three cards max */
.social_content {
  position: absolute;
  left: 5%;
  top: 20%;

  width: 90%;
  max-height: 80%;
  overflow-x: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-flow: column wrap;
}

.user_card,
.invite_user_card,
.invite_user_card:hover,
.user_card_dm,
.user_card_dm:hover {
  position: relative;
  width: 309px;
  height: 141px;

  min-width: 309px;
  min-height: 141px;

  margin: 0.8rem;
  text-align: left;

  float: left;
  align-items: center;
  justify-content: center;
  display: flex;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  background: #163f5b;
  color: #ffffff;
}

.invite_user_card:hover {
  cursor: pointer;
}

.invite_user_card_selected,
.invite_user_card_selected:hover {
  position: relative;
  width: 309px;
  height: 141px;

  min-width: 309px;
  min-height: 141px;

  margin: 0.8rem;
  text-align: left;

  float: left;
  align-items: center;
  justify-content: center;
  display: flex;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  background: #2b506a;
  color: #ffffff;
}

.invite_user_card_selected:hover {
  cursor: pointer;
}

.user_card_dm:hover {
  cursor: pointer;
}

.user_card_username {
  position: absolute;
  left: 50.16%;
  right: 6.8%;
  top: 20.57%;
  bottom: 43.26%;

  /* Header 2 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;
}

.user_card_avatar {
  position: absolute;
  left: 10.03%;
  right: 57.61%;
  top: 14.18%;
  bottom: 14.89%;
  width: 100px;
  height: 100px;
}

.user_card_elo {
  position: absolute;
  left: 50.16%;
  right: 25.24%;
  top: 56.74%;
  bottom: 31.21%;

  /* Body */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;
}

.social_friend_card {
  position: relative;
  width: 338px;
  height: 110px;

  min-height: 110px;
  min-width: 338px;

  margin: 0.8rem;
  text-align: left;

  float: left;
  align-items: center;
  justify-content: center;
  display: flex;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  color: #ffffff;
  background-color: #163f5b;
}

.social_friend_card_username {
  position: absolute;
  left: 33.14%;
  right: 47.63%;
  top: 23.64%;
  bottom: 50.91%;

  /* Header 3 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* White */

  color: #ffffff;
}

.social_friend_card_avatar {
  position: absolute;
  left: 7.1%;
  right: 75.15%;
  top: 50%;

  transform: translate(0%, -50%);

  cursor: pointer;
}

.social_friend_card_elo {
  position: absolute;
  left: 33.14%;
  right: 47.63%;
  top: 55.45%;
  bottom: 28.18%;

  /* Body */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;
}

.social_friend_card_button,
.social_friend_card_button:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 58.83%;
  top: 50%;

  transform: translate(0%, -50%);

  width: 103px;
  height: 42px;

  /* Teal */

  background: #163f5b;
  /* White */

  border: 2px solid #e5e5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  /* Header 3 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* Platinum */

  color: #e5e5e5;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.social_friend_card_button:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}

.offline_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 58.83%;
  top: 50%;

  transform: translate(0%, -50%);

  width: 103px;
  height: 42px;

  /* Teal */

  background: #163f5b;
  /* White */

  border: 2px solid #6c7280;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  /* Header 3 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* Dark grey */

  color: #c4c4c4;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.social_friend_request_card_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 58.83%;
  top: 0%;
  width: 79px;
  height: 28px;
}

.social_friend_request_card_button .decline,
.social_friend_request_card_button .decline:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */

  position: absolute;
  top: 60px;
  width: 90px;
  height: 30px;

  background: #fca311;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.social_friend_request_card_button .decline:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    #fc605c;
  cursor: pointer;
}

.social_friend_request_card_button .confirm,
.social_friend_request_card_button .confirm:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 20px;

  width: 90px;
  height: 30px;

  background: #1985a1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.social_friend_request_card_button .confirm:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    #25bf75;
  cursor: pointer;
}

.social_friend_card_unblock_button,
.social_friend_card_unblock_button:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  position: absolute;
  left: 61.83%;
  right: 7.1%;
  top: 30%;
  bottom: 31.82%;

  /* Soft red */

  background: #fc605c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  /* Header 3 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* White */

  color: #ffffff;
}

.social_friend_card_unblock_button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    #fc605c;
  cursor: pointer;
}

/* 
* Style about the chat page.
*/
.chat_menu {
  position: absolute;
  width: 3.9%;
  height: 96.7%;
  left: 0px;
  top: 0px;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;

  background: #163f5b;
}

.chat_menu::-webkit-scrollbar {
  width: 0 !important;
}

.chat_menu_button {
  margin: 0.3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}

.chat_menu_button_selected {
  margin: 0.3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 3px solid #1985a1;
  border-radius: 50%;
  background: #1985a1;
}

.channel_menu {
  position: absolute;
  width: 12.6%;
  height: 100%;
  left: 3.9%;
  top: 0px;

  overflow-y: auto;
  /* Teal */

  background: #163f5b;
}

.channel_menu .title {
  position: absolute;
  height: 55px;
  left: 50%;
  top: 23px;

  transform: translate(-50%, 0%);
  /* Header 2 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;
}

.channel_menu .tabs {
  position: relative;
  /* top: 7%; */

  margin-top: 30%;
  justify-content: space-evenly;

  display: flex;
}

.channel_menu .users,
.channel_menu .owner,
.channel_menu .admins {
  position: relative;
  top: 10%;
  /* transform: translate(-50%, 0%); */
  /* Body */

  margin: 0.3rem;
  /* White */
  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  column-gap: 10px;
  justify-content: space-evenly;

  display: flex;
  align-items: center;
  font-feature-settings: "tnum" on, "lnum" on;

  text-align: center;

  color: #ffffff;
  cursor: pointer;
}

.channel_menu .owner {
  color: #a01515;
}

.channel_menu .admins {
  color: #a01597;
}

.channel_menu .connected_user {
  position: relative;
  top: 10%;
  /* transform: translate(-50%, 0%); */
  /* Body */

  margin: 0.3rem;
  /* White */
  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  column-gap: 10px;
  justify-content: space-evenly;

  display: flex;
  align-items: center;
  font-feature-settings: "tnum" on, "lnum" on;

  text-align: center;

  color: #fca311;
}

.channel_menu .selected_user {
  position: relative;
  width: 100%;
  /* height: 131px; */
  min-height: 131px;

  margin: 0.3rem;
  /* White */
  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  column-gap: 10px;
  justify-content: space-evenly;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* Dark grey */
  background: #2b506a;
  border-radius: 20px;
  color: #ffffff;
  cursor: default;
}

.channel_menu .selected_user .buttons {
  width: 92px;
  height: 19px;

  /* Body */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;
  cursor: pointer;
}

.channel_content {
  position: absolute;
  width: 83.5%;
  height: 100%;
  left: 16.5%;
  top: 0px;

  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Teal */

  background: #00213d;
}

.chat_direct_message_menu {
  position: absolute;
  width: 12.6%;
  height: 97.2%;
  left: 3.9%;
  top: 0px;

  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.7rem;
  /* Teal */

  background: #163f5b;
}

.chat_direct_message_menu::-webkit-scrollbar {
  width: 0 !important;
}

.chat_direct_message_menu_title {
  position: absolute;
  left: 50%;

  transform: translate(-50%, 0%);
  /* Header 2 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;
}

.chat_direct_message_menu_new,
.chat_direct_message_menu_new_selected,
.chat_direct_message_menu_dm_selected {
  position: relative;
  top: 5%;
  /* transform: translate(-50%, 0%); */
  /* Body */

  margin: 0.3rem;
  /* White */
  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  column-gap: 10px;
  justify-content: space-evenly;

  display: flex;
  align-items: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* Dark grey */

  color: #c4c4c4;
  cursor: pointer;
}

.chat_direct_message_menu_dm_selected {
  /* position: absolute; */
  width: 242px;
  height: 131px;

  /* Teal selected (brighter) */
  flex-direction: column;

  background: #2b506a;
  border-radius: 20px;
  color: #ffffff;
  cursor: default;
}

.chat_direct_message_menu_dm_selected .buttons {
  /* position: absolute; */
  width: 92px;
  height: 19px;
  /* left: 65px; */
  /* top: 69px; */

  /* Body */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;
  cursor: pointer;
}

.chat_direct_message_menu_new_selected {
  color: #ffffff;
  /* cursor: default; */
}

.chat_direct_message_content {
  position: absolute;
  width: 83.5%;
  height: 100%;
  left: 16.5%;
  top: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* Teal */

  background: #00213d;
  position: absolute;

  /* Header 1 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;
}

.messages_area {
  overflow-y: auto;
  overflow-x: hidden;

  position: absolute;
  width: 90%;
  height: 80%;
  left: 5%;
  top: 5%;
}

.messages_area::-webkit-scrollbar {
  width: 0 !important;
}

.message,
.message_author,
.message_system,
.message_friend {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;

  /* position: absolute; */

  border-radius: 20px;

  /* Body */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1rem;
  /* margin: 0px 10px; */
  word-break: break-word;
}

.message_author {
  box-sizing: border-box;
  float: left;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;

  background: #fca311;
}

.message_friend .chat_avatar {
  position: absolute;
  /* left: 70px; */
  right: -50px;
}

.message_system {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}

.message_friend {
  box-sizing: border-box;
  right: 50px;
  float: right;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;

  background: #1985a1;
}

.chat_add_channel {
  position: absolute;
  left: 3.9%;
  top: 0px;

  width: 96.1%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;
  background-color: #00213d;
}

.chat_add_channel_menu {
  position: absolute;
  width: 95%;
  height: 40px;
  left: 5%;
  top: 5%;

  display: flex;
  flex-direction: row;
  column-gap: 5%;
  /* justify-content: space-between; */
}

.chat_add_channel_menu_button {
  font-family: "Khand";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  /* Dark grey */

  color: #c4c4c4;
  cursor: pointer;
}

.chat_add_channel_menu_button_selected {
  font-family: "Khand";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  /* Dark grey */

  color: #ffffff;

  text-decoration: underline;
}

.chat_add_channel_content {
  position: absolute;
  left: 5%;
  top: 20%;

  width: 90%;
  max-height: 80%;
  overflow-x: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-flow: column wrap;
}

.chat_create_channel {
  position: absolute;

  left: 5%;
  top: 20%;

  width: 95%;
  height: 80%;
}

.chat_create_channel_image {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 18.3%;
  top: 16%;
}

.chat_create_channel_browse,
.chat_create_channel_browse:hover {
  position: absolute;
  width: 119px;
  height: 42px;
  left: 21.7%;
  top: 55%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  /* Teal */

  background: #163f5b;
  /* White */

  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  color: #e5e5e5;
}

.chat_create_channel_browse:hover {
  cursor: pointer;
  color: #ffffff;
}

.chat_create_channel_form {
  position: absolute;

  left: 60rem;
}

.chat_create_channel_form_input {
  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: -0.02em;

  white-space: nowrap;
  /* White */

  color: #ffffff;
  padding: 15px;
}

.chat_create_channel_form_switch {
  position: absolute;
  /* width: 163px;
  height: 26px; */
  top: 103%;
  left: 15%;

  /* Make the text stand on one line */
  white-space: nowrap;

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* White */

  color: #ffffff;
}

.chat_create_channel_form_create,
.chat_create_channel_form_create:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 119px;
  height: 42px;
  left: -80%;
  top: 125%;

  /* Green */

  background: #25bf75;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.chat_create_channel_form_create:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    #25bf75;
  cursor: pointer;
}

.public_channels_list {
  position: absolute;
  left: 5%;
  top: 20%;
  width: 90%;
  max-height: 80%;
  overflow-x: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-flow: column wrap;
}

.channel_settings {
}

.channel_settings_switch {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  /* Make the text stand on one line */
  white-space: nowrap;

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* White */

  color: #ffffff;
}

.channel_accept_invitation_button,
.channel_accept_invitation_button:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 119px;
  height: 42px;

  background: #25bf75;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* White */

  color: #ffffff;
}

.channel_accept_invitation_button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    #25bf75;
  cursor: pointer;
}

.channel_settings_update,
.channel_settings_update:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 119px;
  height: 42px;
  left: 50%;
  transform: translate(-50%, 0);
  top: 85%;

  /* Green */

  background: #25bf75;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  /* flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px; */
}

.channel_settings_update:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    #25bf75;
  cursor: pointer;
}

.channel_card {
  position: relative;
  /* left: 0%; */
  /* top: 0%; */
  width: 300px;
  height: 300px;

  min-width: 300px;
  min-height: 300px;
  margin: 1rem;
  text-align: center;

  float: left;
  align-items: center;
  justify-content: center;
  display: flex;

  background: #163f5b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  cursor: pointer;
}

.channel_card .channel_image {
  position: absolute;
  top: 10%;
}

.channel_card .channel_name {
  position: absolute;
  /* left: 2.64%; */
  /* right: 2.55%; */
  top: 78.32%;
  bottom: 4.7%;
  left: 50%;
  transform: translate(-50%, 0%);
  /* Header 2 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*
* Style about the profile page and the inner components
*/

.profile_history {
  position: absolute;
  width: 76.5%;
  height: 100%;
  left: 23.5%;
  right: 0%;
  bottom: 0%;
  top: 0%;
  background-color: #00213d;
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_history_title {
  position: absolute;
  width: 201px;
  height: 55px;
  left: 50%;
  top: 10%;

  transform: translate(-50%, -50%);
  /* Header 1 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;
}

.profile_history_content {
  overflow-y: auto;
  overflow-x: hidden;

  position: absolute;
  width: 100%;
  height: 70%;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);

  /* Header 2 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;
}

.profile_history_card,
.profile_history_card_victory,
.profile_history_card_defeat {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;

  width: 603px;
  height: 68px;

  border-radius: 20px;

  border-radius: 20px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1rem;
  /* margin: 0px 10px; */
  word-break: break-word;
}

.profile_history_card::-webkit-scrollbar,
.profile_history_card_victory::-webkit-scrollbar,
.profile_history_card_defeat::-webkit-scrollbar {
  width: 0 !important;
}

.profile_history_card_victory {
  background: #fca311;
}

.profile_history_card_defeat {
  background: #c4c4c4;
}

.profile_history_card .result_text,
.profile_history_card_victory .result_text,
.profile_history_card_defeat .result_text {
  /* Victory */

  position: relative;
  left: 17%;
  top: 20.07%;

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* Navy */

  color: #1c2d53;
}

.profile_history_card .score_opponent,
.profile_history_card_victory .score_opponent,
.profile_history_card_defeat .score_opponent,
.profile_history_card .score_player,
.profile_history_card_victory .score_player,
.profile_history_card_defeat .score_player {
  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 92px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.profile_history_card .score_opponent,
.profile_history_card_victory .score_opponent,
.profile_history_card_defeat .score_opponent {
  position: relative;
  left: 30%;
  bottom: 15%;
}

.profile_history_card .score_player,
.profile_history_card_victory .score_player,
.profile_history_card_defeat .score_player {
  position: relative;
  left: 5%;
  bottom: 15%;
}

.profile_history_card .opponent_name,
.profile_history_card_victory .opponent_name,
.profile_history_card_defeat .opponent_name {
  position: relative;
  left: 21%;
  top: 25.36%;

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* White */

  color: #ffffff;
}

.profile_history_card .opponent_avatar,
.profile_history_card_victory .opponent_avatar,
.profile_history_card_defeat .opponent_avatar {
  position: relative;
  left: 63%;
  /* right: 47%; */
  bottom: 22%;
}

.profile_user {
  position: absolute;
  width: 23.5%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #163f5b;
}

.profile_user_account_details {
  position: absolute;
  left: 20.71%;
  right: 20.71%;
  top: 10.95%;
  bottom: 55.12%;
}

.profile_user_account_details_title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  /* right: 20.71%; */
  /* top: 6.95%; */
  bottom: 90.21%;

  /* Header 1 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 55px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  white-space: nowrap;

  /* White */

  color: #ffffff;
}

.profile_user_account_details_avatar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  /* right: 27.81%; */
  top: 18.2%;
  /* bottom: 62.71%; */
}

.profile_user_account_details_username {
  position: absolute;
  top: 65.43%;
  left: 50%;
  transform: translate(-50%, 0%);

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  /* align the content on a line */
  white-space: nowrap;

  /* White */

  color: #ffffff;
}

.profile_user_stats_header_title {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  top: 46.65%;
  /* bottom: 49.43%; */

  /* Header 3 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* White */

  color: #ffffff;
}

.profile_user_stats_elo {
  position: absolute;
  left: 50%;
  top: 51.34%;
  transform: translate(-50%, -50%);
  /* bottom: 5.51%; */

  /* body bold */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;
}

.profile_user_stats_games_summary {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 56%;
  /* bottom: 38.81%; */

  /* Body */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  /* White */

  color: #ffffff;
}

.public_profile_buttons {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* bottom: 5.51%; */

  width: 100%;
  height: 30%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.public_profile_buttons .social_friend_card_button {
  position: absolute;
  width: 119px;
  height: 42px;

  left: 50%;
  transform: translate(-50%, 0%);
  top: 0%;

  margin: 0px 0px;
}

.public_profile_buttons .offline_button {
  position: absolute;
  width: 119px;
  height: 42px;

  left: 50%;
  transform: translate(-50%, 0%);
  top: 0%;

  margin: 0px 0px;
}

.add_friend_button,
.add_friend_button:hover,
.send_dm_button,
.send_dm_button:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 119px;
  height: 42px;

  left: 50%;
  transform: translate(-50%, 0%);
  top: 25.93%;

  /* Teal */

  background: #163f5b;
  /* Platinum */

  border: 2px solid #e5e5e5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  /* Header 3 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* Force to be on the same line */
  white-space: nowrap;

  /* White */

  color: #e5e5e5;
}

.add_friend_button:hover,
.send_dm_button:hover {
  border: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}

.send_dm_button {
  top: -25%;
}

.send_dm_button:hover {
  top: -25%;
}

.block_button,
.block_button:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */

  position: absolute;
  width: 119px;
  height: 42px;

  left: 50%;
  transform: translate(-50%, 0%);
  top: 55%;

  /* Soft red */

  background: #fc605c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  /* Header 3 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* White */

  color: #ffffff;
}

.block_button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    #fc605c;
  cursor: pointer;
}

.public_profile_buttons .social_friend_card_unblock_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 99px;
  height: 22px;

  left: 50%;
  transform: translate(-50%, 0%);
  top: 55%;

  /* Soft red */

  background: #fc605c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  /* Header 3 */

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  /* White */

  color: #ffffff;
}

.public_profile_buttons .social_friend_card_unblock_button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    #fc605c;
  cursor: pointer;
}

.logout_button,
.logout_button:hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 82.93%;

  /* Teal */

  background: #163f5b;
  /* White */

  border: 2px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  font-family: "Khand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height */

  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.logout_button:hover {
  border: 2px solid #e5e5e5;
  color: #e5e5e5;
  cursor: pointer;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* 
* Snackbar: display line break
*/

.snackbarMsg {
  white-space: pre;
}

/*
* second-factor-login page style
*/

.second_factor_login {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  justify-content: center;
  background: #163f5b;
}
