.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: rgba(255,255,255, 0.5);
}

.score > * {                    /*style for all .score children*/
    flex-grow: 1;
    flex-basis: 0;
    padding: 2vh 2vh;
}

.score > :first-child {
    text-align: right;
}

