.qrCode {

	margin: 5px 0px 5px;
	width: 200px;
}

.generateButton {

	margin: 5px 0px;
	width: 200px;
}

.formStyle {

	display:flex;
	flex-direction: column;
	width: 200px;
}

.validationButton {

	margin: 5px (200px / 8);
	width: (200px - (200px / 4));
}

.textField {

	margin: 5px 0 5px;
	background-color: red;
}